* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}


header {
    background: red;
    color: greenyellow;
    padding: 3rem 0;
}

.logo img {
    width: 11%;
    height: 30%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #1ad081;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.5s ease;
}

nav ul li a:hover {
    background: #232724;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}
body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(185, 170, 242, 0.05);
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a5b636;
}



.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; 
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #2ddb44;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 255, 0, 0.631);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.carousel {
    position: relative;
    width: 60%;
    height: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #040ac27e;
    color: #0a07e8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.social-links a {
    color: #96ea66;
    margin-right: 10px;
    text-decoration: none;
}

.contact-info p {
    margin: 0;
}










